:root {
  --white: #FFFFFF;
  --grey1: #E7E7E7;
  --grey2: #CECECE;
  --gold: #FFF8E1;
  --whiteblue: #F1F2F4;
  --skyblue: #1EBAF3;
  --darkblue1: #0A1825;
  --gradient1: linear-gradient(70deg, #0083B4, #8FC2D3);
  --gradient2: linear-gradient(70deg, #001947, #03416E);
}

body {
  font-family: 'Poppins', sans-serif;
}